<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div >

  <ul>
    <li ><label class="inputLabel">姓名：</label><input type="text" [(ngModel)]="addUser.UserName" (blur)="checkName(event)"></li>
   
    <li ><label class="inputLabel">邮箱：</label><input type="text" [(ngModel)]="addUser.Email"  (blur)="checkEmail(event)"></li>
    <li ><label class="inputLabel">登录名：</label><input type="text" [(ngModel)]="addUser.LoginName"  (blur)="checkLoginName(event)"></li>
    <li ><label class="inputLabel">手机号码：</label><input type="text" [(ngModel)]="addUser.MobilePhone" (blur)="checkMobilePhone(event)"></li>
    <li ><label class="inputLabel">登录密码：</label><input type="text" [(ngModel)]="addUser.Password"  (blur)="checkPassword(event)"></li>
    <li ><label class="inputLabel">确认密码：</label><input type="text" [(ngModel)]="confirmPassword" (blur)="checkPassword(event)"></li>
    <li *ngIf="errorMessage!=''"><label style="width: 100%;background-color: aquamarine;" class="inputLabel">{{errorMessage}}</label></li>
    <li *ngIf="passwordErrorMessage!=''"><label style="width: 100%;background-color: aquamarine;" class="inputLabel">{{passwordErrorMessage}}</label></li>
  </ul>
  <button class="btn" (click)="doSubmit(event)">注册</button>
  <button class="btn" (click)="getUserInfo()">获取用户信息</button>

  <div id="main-container" style="text-align:center">
    <h1>
      <a href="https://codingblast.com/asp-net-core-signalr-simple-chat/" target="_new">
        ASP.NET Core SignalR Chat with Angular
      </a>
    </h1>
  
    <div class="container">
      <h2>Hello {{nick}}!</h2>
      <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
        <div>
          <label for="message">Message</label>
          <input type="text" id="message" name="message" [(ngModel)]="message" required>
        </div>
        <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">
          Send
        </button>
      </form>
    </div>
  
    <div class="container" *ngIf="messages.length > 0">
      <div *ngFor="let message of messages">
        <span>{{message}}</span>
      </div>
    </div>
  
  </div>


